body{
    margin: 0;
    padding: 0;
    font-family: inter;
    background-color: #f4f4f4;
}
.content{
    display: grid; 
    grid-template-columns: 200px 2fr 1fr;
}
nav{
    grid-column: 2/4;
    grid-row: 1/2; 
}

aside{
    background-color: #024644;
    height: 100%;
    width: auto;
    grid-column: 1/2;
    grid-row: 1/8;
    box-shadow: 0px 0px 5px;
}

main{
    grid-column: 2/4;
    grid-row: 2/8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    padding: 10px 20px;
}

.search-bar{
    padding: 10px 30px;
    width: 60px;
    height: 20px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
    border-style: none;
}

.of{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn {
    background-color: transparent;
    color: black;      
    font-weight: lighter;
    text-decoration: none;
    font-size: 12px;
}

.widget{
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 8px 20px;
    gap: 10px;
}

.widget span{
    font-size: 20px;
}
.nav-note {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard{
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
}

.nav-support{
    color: #000000;
    padding-left: 0px;
    padding-bottom: 15px;
    font-size: 14px;
}

.first{
    border: 2px none white;
    background-color: #c2e1df15;
    border-radius: 13px;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    padding: 10px 20px;
}

.search-wrap{
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 0px 20px;
    border-radius: 100px;
}

.search-wrap span{
    font-size: 20px;
    color: #888;
}

.logo{
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 40px;

}

.logo span{
    font-size: 15px;
    padding: 3px
}

.side-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 10px;
}

.side-links span{
    font-size: 25px;
    font-weight: 400;
}

.side-links a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: lighter;
}

.card-section{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.cards{
    border-radius: 15px;
    background-color: #ffffff;
    margin: 0px;
    height: 90px;
    width: 230px;
}

.cardss{
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
    height: 90px;
    width: 230px;
}

.cardsss{
    border-radius: 15px;
    background-color: #ffffff;
    color: #000;
    margin: 0px;
    height: 90px;
    width: 230px;
}

.cardsss-4{
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    margin: 0px;
    height: 90px;
    width: 230px;
}

.card-details{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 17px 13px;
    gap: 20px;
}

.yo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.card-details h3, 
.card-details p,
.card-details span {
    margin: 0; 
    padding: 0;
    line-height: 1.2;
}

.card-details span{
    font-size: 30px;
    font-weight: 200;
    color: #07a09b;
    margin: 0px;
    background-color: #07b3151a;
    border-radius: 10px;
    padding: 4px;
    
}
.card-name{
    font-size: 12px;
}

.supporting-text{
    font-size: 25px;
    font-weight: bolder;
}

.button{
    margin: 5px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    background-color: #804A8A;
    color: #ffffff
}

.top-agents{
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
}

.top-agents p{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 0.5px solid #000000;
    padding-bottom: 20px;
    color: #024644;

}
.top-agents ul {
    list-style: none;
    padding: 0px;
}

.top-agents li{
    padding: 7px;
}
 

.jobs-completed{
    background-color: #ffffff;
    width: 200px;
    padding: 0px;
    border-radius: 15px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.jobs{
    font-size: 15px;
    padding-bottom: 0px;
}

.jobss{
    font-size: 7px;
    padding: 5px;
    background-color: #b1f185;
    border-radius: 10px;
}

.N{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.jobs-completed span{
    font-size: 60px;
    color: #024644;
    background-color:#07b3151a;
    border-radius: 10px;
    padding: 7px;
    margin: 0px;
    font-weight: lighter;
}

.last-card{
    background-color: #f4f4f4;
    width: 510px;
    padding: 0px;
    border-radius: 15px;
    background-image: url(/src/assets/image.png);
    background-size: cover;
    background-position: center;
    background-color: #1f4842;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.join{
    font-size: 45px;
    font-weight: bold;
    padding: 0px 20px;
    color: #f4f4f4;
    margin: 0px;
}

.Mario{
    font-size: 18px;
    padding: 20px;
    color: #f4f4f4;
    margin: 5px;
}

.Marioo{
    font-size: 11px;
    padding: 20px;
    color: #f4f4f4;
    margin: 5px;
}

.date{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
    margin-top: 0px;
}

.date p{
    font-size: 12px;
    border-radius: 100px;
    background-color: #ffffff;
    padding: 12px 18px;


}

.date span{
    font-size: 21px;
    font-weight: lighter;
    border-radius: 100px;
    background-color: #ffffff;
    padding: 9px;
}